<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Willkommen</h3>

  <p>
    Schau' links im Menü für die Funktionen!
  </p>
</ion-content>
