<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hausaufgaben</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let post of posts" (click)="presentAlert(post.fach, post.datum, post.aufgaben)">
      <h3>{{post.fach}}</h3>
      <small>{{post.datum}}</small>
    </ion-item>
  </ion-list>
</ion-content>